.shadow {
  box-shadow: rgba(0, 0, 0, 0.075) 0px 5px 15px;
}

/* scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(19, 208, 180, 0.8);
  border-radius: 4px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: rgb(19, 208, 180, 0.2);
  border-radius: 4px;
}

.padding-nav {
  padding-top: 102px;
}
.active-nav {
  width: 4px;
  height: 20px;
  position: absolute;
  background-color: white;
  left: 0;
}
.p-tablist-active-bar {
  display: none;
}
.p-tab-active {
  border-color: #13d0b4;
  color: #13d0b4;
  border-width: 0 0 4px 0;
}
.p-dialog-content {
  padding: 0 1rem 0rem 1rem;
}
.p-tabpanels {
  padding-bottom: 0;
}
.p-dialog-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p-tablist {
  padding: 0 18px;
}
/* .p-tablist-tab-list {
  justify-content: center;
} */
